<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>

<main>
    <% if (products.length > 0) { %>
        <div class="grid">
            <% for (let product of products) { %>
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title">
                            <%= product.title %>
                        </h1>
                    </header>
                    <div class="card__image">
                        <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                    </div>
                    <div class="card__content">
                        <h2 class="product__price">
                            $<%= product.price %>
                        </h2>
                        <p class="product__description">
                            <%= product.description %>
                        </p>
                    </div>
                    <div class="card__actions">
                        <!-- To edit we need to make sure that clicking this button sends a get request and get onto
                        another page using an anchor element that leads us to /admin/edit-product. We also want to
                        make sure that we go to a route where we know which product to edit and pass a dynamic ID.
                        We can then retrieve that ID in the route that we're loading so that we know which product
                        we need to fetch from the database or from a file. -->
                        <a href="/admin/edit-product" class="btn">Edit</a>
                        <!-- A delete process should not send a get request to some route, instead we
                        simply wrap this in a form which leads to admin delete product and sends a post requests
                        there to indicate that we really want to change something and not just load something or
                        display something and then I wrap my button in there and give it the type submit so that
                        it does submit this. -->
                        <form action="/admin/delete-product" method="POST">
                            <button class="btn">Delete</button>
                        </form>
                    </div>
                </article>
            <% } %>
        </div>
    <% } else { %>
        <h1>No Products Found!</h1>
    <% } %>
</main>
<%- include('../includes/end.ejs') %>